<!DOCTYPE html><html><head><meta charset=utf-8><title>vue news</title><link rel=stylesheet href=http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css><script>var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?f3282cdbf1813c33c587e3807387d09b";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script><link href=/static/css/app.203d1ff302293f873d410410f0788705.css rel=stylesheet></head><body><div class=container-fluid style="height: 100%"><div id=app></div></div><script type=text/javascript src=/static/js/manifest.a856c966218ab6f3f792.js></script><script type=text/javascript src=/static/js/vendor.d0f592faea9a90ec2d1f.js></script><script type=text/javascript src=/static/js/app.d30e79475d1b345b60e6.js></script></body></html>